* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 1920px;
}

img {
    display: block;
}
h2{
     font-size: 64px;
}
.index {
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png');
    background-size: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    /* padding-bottom: 49.896%; */
    position: relative;
    padding-top:356px;
    padding-bottom:256px;
}

.index .content {
    width: 308px;
    color: white;
    font-style: Italic;
    font-family: "Roboto", sans-serif;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}

.index .content p {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.index .content p:nth-of-type(2) {
    line-height: 42px;
    margin: 0 12.5px 48px;
}

.index .content h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 94px;
    margin-bottom: 32px;
}

.inconWrap {
    display: flex;
    justify-content: space-between;
    margin: 0 12.5px;
}

.inconWrap img {
    width: 21%;
}
.about{
    padding-top: 64px;
}
.about .content{
    font-style: Italic;
    font-family: "Roboto", sans-serif;
    width: 412px;
    text-align: center;
    margin: auto;
}
.about p{
    font-size: 24px;
    line-height: 28px;
}
.info li{
    margin-bottom: 8px;
}
.info li:nth-of-type(3) p{
    line-height: 42px;
    margin-bottom: 12px;
}
.about h2{
    line-height: 75px;
    margin-bottom: 40px;
}
.about img{
    width: 384px;
    margin-bottom: 24px;
}